// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #002858;
$indigo: #4f72b8;
$purple: #3b0633;
$pink: #f66D9b;//
$red: #e3342f;//
$orange: #f26b50;
$yellow: #ffdf01;
$green: #003624;
$teal: #5f9f69;
$cyan: #28aba9;

$secondary: $orange;
